<div class="w-full h-full flex items-center justify-center">

  <div class="w-[50%] bg-white rounded-xl shadow-md overflow-hidden p-6 ">
    <p class="text-[#f00]"><%=message%></p>
    <a href="<%=link%>">regresar</a>
  </div>
</div>